{
  "all": true,
  "extends": "@istanbuljs/nyc-config-typescript",
  "reporter": [
    "lcov"
  ],
  "extension": [
    ".ts"
  ],
  "exclude": [
    "*.test.ts"
  ],
  "include": [
    "src/**/*.ts"
  ]
}
